*{
    color: #ffff;
}


#whatsapp-icon-footer, #linkedin-icon-footer{
    font-size: 75px;
}

#email-icon, #location-icon{
    font-size: 75px;
    

}

input, textarea, button{

    border-radius: 0 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    

}





