#imageServices{
    height: 13.5rem; 
    width: 27.5rem;
}

@media only screen and (max-width: 900px){

    #imageServices{
        height: 18rem !important; 
        width: 100vw !important;
    }
}


