@font-face {
    font-family: 'Blatant' ;
    src: url(./Fonts/Blatant.otf);
    font-weight: lighter;
    font-style: normal;
  
}

body{
    font-family: "Blatant";
    color:white;

}

/* Parallax Effect */

.parallax-effect{
    background-image: url("./Images/backgroundsImages/N_Background_Opacity.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* NAV CSS */

#logo{
    height: 75px;
    padding-left: 2em;
}


.nav-link, .dropdown-item{

    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    
}


.nav-link :hover{
    background-color: #212529;
    

}



#contact-button{

    background-color: #222d69;
    border: 1px solid #FFFFFF;
    max-width: fit-content;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
    transition: 1.1s;
    

}


#contact-button:hover{
    background-color: white;
    color: #222d69;
    border: 2px solid #222d69;
    
}


/*  Button Whatsapp */

/* Button whatsapp size */
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:20px;
    right:20px;
    background-color:#222d69;
    
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    filter: contrast(0.8);

}

/* button whatsapp animation */
.btn-wsp:hover{
    text-decoration: none;
    color: #222d69;
    background: #fff;
}

/* Whatsapp icon */
.whatsapp-icon {
    margin-top:13px;
  }




/* Carrousel CSS */

/* Carousel size */
.carousel-item{
    height: 100vh;
    width: 100vw;
    background-color: #21252909;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;

}

/* Carousel position */
.container-carousel{
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
    padding-bottom: 65px;
    padding-left: 40% ;
    
}

/* This container keep the images of the carousel */
.overlay-image{
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 1;
       
}


/* Carrousel Button */

#carrousel-btn{
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #FFF;



}


/* About us Section */

.about-line{
    width: 3%;  
    height: 8px;
    background: #fff;
}



/* Cards section*/





#cards {
    width: 50vh;
    height: 210px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #fff;

        
}

#card-frame{
    width:50vh;
    height: 200px; 
    border: 3px solid #fff; 
    background-position: center;
    background-size: cover;
    background-clip: padding-box;
    -webkit-transform: skewX(-8deg);
    -moz-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    -o-transform: skewX(-8deg);
    transform: skewX(-8deg);
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#card-frame:hover{

    width: 40vh;
    height: 200px;
    transform: scale(1.2);
    
}

/* #cards-section > #card-frame:first-child:hover::after{
    content: "Asesoramiento";
    
}

#cards-section > #card-frame:nth-child(2):hover::after{
    content: "Sustentabilidad";
    height: 100px;text-align: center;
}

#cards-section > #card-frame:nth-child(3):hover::after{
    content: "Consultoria & Terciarización";
    height: 100px;text-align: center;
}

#cards-section > #card-frame:last-child:hover::after{
    content: "GNL";
    height: 100px;text-align: center;
} */

.text-card{ 
    font-size: 35px;
    text-align: center;
    margin: 10px auto 0px;
    color: #ffff;
    background-color: #222d6934;
    

}

#btn-card {
   background-color: transparent;
   border: 2px solid #222d69;
   color: #FFF;
   cursor: pointer;
   position: absolute;
   right: 5px;
   bottom: 2px;
    
}

.text-card:hover{
    visibility: visible;
}



/* Footer Section */


footer{
    background-color: #212529; 
    color: white;

}


#whatsapp-icon-footer, #linkedin-icon-footer{
    font-size: 70px;  

}












  /* ----------------------- RESPONSIVE ------------------------- */

  @media only screen and (max-width: 900px){


    nav{
        background-color: #212529;
    }

    #contact-button{
        background-color: transparent;
        border: none;
        color: white;
        height: 35px;
        width: 50%;
        -webkit-transform: skewX(0);
        -moz-transform: skewX(0);
        -ms-transform: skewX(0);
        -o-transform: skewX(0);
        transform: skewX(0);
        
    
    }
    
    #card-frame{
        width:50vh;
        height: 200px; 
        border: 3px solid #fff; 
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
        -webkit-transform: skewX(-8deg);
        -moz-transform: skewX(-8deg);
        -ms-transform: skewX(-8deg);
        -o-transform: skewX(-8deg);
        transform: skewX(-8deg);
        transition: 0.5s;
    
    }
    #card-frame:hover{

        width: 50vh;
        height: 200px;
        filter: grayscale(100);
        transform: scale(1.2);
        
    }

    .text-card{ 
        font-size: 35px;
        text-align: center;
        margin: 10px auto 0px;
        color: #ffff;
        background-color: #222d6934;
    
    }

    #btn-card {
       background-color: transparent;
       border: 2px solid #222d69;
       color: #FFF;
       cursor: pointer;
       position: absolute;
       right: 5px;
       bottom: 2px;
        
    }



  }
  
  
  
  
  
  /* MOBILE MEDIA */
  
  
  @media only screen and (max-width: 600px) {

    .parallax-effect{
        background-image: url("./Images/backgroundsImages/N_Background_Opacity.jpg");
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }

    nav{
        background-color: #212529;
    }
    
    #logo{
        height: 60px;
        padding-left: 0px;
}
    main{
        box-sizing: border-box;
        width: 100%;
    }


    #contact-button{

        background-color: transparent;
        border: none;
        background-size:cover;
        color: white;
        height: 45px;
        -webkit-transform: skewX(0deg);
        -moz-transform: skewX(0deg);
        -ms-transform: skewX(0deg);
        -o-transform: skewX(0deg);
        transform: skewX(0deg);
        

    }

    #card-frame{
        width: 90%;
        height: 200px; 
        border: 3px solid #fff; 
        background-position: center;
        background-size: cover;
        background-clip: padding-box;
        -webkit-transform: skewX(-8deg);
        -moz-transform: skewX(-8deg);
        -ms-transform: skewX(-8deg);
        -o-transform: skewX(-8deg);
        transform: skewX(-8deg);
        transition: 0.5s;

    }

    #card-frame:hover{
        transform: scale(1.08);
        visibility: visible;

    }

    #whatsapp-icon-footer, #linkedin-icon-footer{
        font-size: 70px; 
        height:fit-content;
        width: fit-content;
        align-items: center;
        display: inline;
        margin: 0 3rem; 

    
    }

    .text-card{ 
        font-size: 35px;
        text-align: center;
        margin: 10px auto 0px;
        color: #ffff;
        background-color: #222d6934;
        

    
    }

    #btn-card {
       background-color: transparent;
       border: 2px solid #222d69;
       color: #FFF;
       cursor: pointer;
       position: absolute;
       right: 5px;
       bottom: 2px;


        
    }



    


}